* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1024px;
    margin: 50px auto;
}

#caroselContainer,
aside {
    display: flex;
    justify-content: center;
}

.img-container {
    width: 750px;
    height: 500px;
    background-color: aquamarine;
}

.arrow {
    align-self: center;
    font-size: 3em;
    font-weight: bold;
    padding: 0 20px;
}  

.arrow:hover {
    color: rgb(12, 77, 218);
    transform: scale(1.3);
}