* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.wrapper {
    max-width: 1024px;
    margin: 50px auto;
}

#caroselContainer,
aside,
.img-container,
.dot-container {
    display: flex;
    justify-content: center;
}

.arrow {
    align-self: center;
    font-size: 3em;
    font-weight: bold;
    padding: 0 20px;
    color: lightgray
}  

.arrow:hover,
.dot:hover {
    color: rgb(164, 181, 218);
    transform: scale(1.3);
}


.img-container {
    position: relative;
    height: 500px;
    border: 1px solid black;
}

img {
    height: 100%;
    object-fit: contain;
}

.dot-container {
    position: absolute;
    background-color: rgba(50, 50, 50, 0.5);
    padding: 5px 15px;
    border-radius: 10px;
    bottom: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: lightgrey;
    margin: 0 10px;
}

.dot:hover {
    background-color:rgb(164, 181, 218);
}

.activeDot {
    background-color: rgb(106, 138, 207);
    transform: scale(1.3);
}

