* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1024px;
    margin: 50px auto;
}

#caroselContainer,
aside,
.img-container,
.dot-container {
    display: flex;
    justify-content: center;
}

.img-container {
    width: 1280px;
    height: 500px;
    border: 1px solid black;
    flex-direction: column;
}

.arrow {
    align-self: center;
    font-size: 3em;
    font-weight: bold;
    padding: 0 20px;
}  

.arrow:hover,
.dot:hover {
    color: rgb(12, 77, 218);
    transform: scale(1.2);
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: blue;
}

